
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import 'node_modules/reset-css/sass/reset';
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.btn-rounded {
    border-radius: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

.row-inline
{
  display: flex;
    align-items: center;
}
